@charset "utf-8";

.all{margin-left: 50px;
  margin-right: 50px;
  color: rgb(128, 128, 128);
}
.list ul{display: flex;
list-style-type: none;}
.list li{font-family:Arial, Helvetica, sans-serif;
margin-right: 50px;
font-size: 30px;}
.top{width: 70%;}
.shop{display: flex;
justify-content: space-between;}
.menu{display: flex;}
.menu img{margin-right: 20px;}
footer{background-color: #141B48;}
body{margin-bottom: 0%;
margin-left: 0%;
margin-right: 0%;}
h1{font-size: 50px;}
.title{display: flex;}
.icon img{width: 60px;
height: 60px;
margin-right: 10px;
margin-top: 30px;
}
.shoptitle p{font-size: 50px;
}
.menutitle p{font-size: 50px;}
.placetitle p{font-size: 50px;}
.shop{font-size: 15px;}
.yoyaku{border-right: solid;
border-width: 1px;
border-color: darkgrey;
padding-right: 50px;}
footer{padding-top: 20px;
padding-bottom: 20px;
color: snow;
text-align: center;}
.place{display: flex;}
.list li:hover{color:darkslateblue;}


/* フェードイン用のCSS */
.slide-bottom {
  opacity: 1;
  transform: translateY(30px);
  transition: all 1.3s 0s ease-out;
}
